<div class="navbar navbar-default" data-ng-controller="NavBarCtrl as navbar">
  <div class="container-fluid">
    <span class="navbar-brand">Secret Santa</span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img data-ng-src="{{ navbar.picture }}">
        <span class="navbar-text">{{ navbar.name }}</span>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h4>Add Participants</h4>
      <form class="form-horizontal" name="manualId" data-ng-submit="manualId.$valid && home.addParticipantById()">
        <div class="form-group">
          <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="Enter FBID..." data-ng-model="home.manualId" required>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-block btn-primary">Add</button>
          </div>
        </div>
      </form>
      <div class="user-search">
        <input type="text" class="form-control" placeholder="Search for people...." data-ng-model="home.search" data-ng-change="home.updateSearch()">
        <ul>
          <li data-ng-repeat="user in home.searchResults.data" class="user" data-ng-click="home.toggleParticipant(user)">
            <img data-ng-src="{{ user.picture.data.url }}">
            {{ user.name }}
          </li>
          <li class="paging clearfix" data-ng-show="home.searchResults.paging">
            <a class="prev" data-ng-show="home.searchResults.paging.previous" data-ng-click="home.updateSearch(home.searchResults.paging.previous)">Previous Page</a>
            <a class="next" data-ng-show="home.searchResults.paging.next" data-ng-click="home.updateSearch(home.searchResults.paging.next)">Next Page</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 participants">
      <h4>Participants</h4>
      <ul>
        <li data-ng-repeat="user in home.participants">
          <img data-ng-src="{{ user.picture.data.url }}" alt="">
          {{ user.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Create Game</h4>
      <button class="btn btn-success" data-ng-click="home.createGame()">Create Game!</button>
    </div>
  </div>
</div>
