<div class="navbar navbar-default" data-ng-controller="NavBarCtrl as navbar">
  <div class="container-fluid">
    <span class="navbar-brand">Secret Santa</span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img data-ng-src="{{ navbar.picture }}">
        <span class="navbar-text">{{ navbar.name }}</span>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form data-ng-submit="new.createGame()" novalidate>
        <ol>
          <li>Create your game. It will have open admission and anyone can join.</li>
          <li>When everyone you want to join has joined, close admission.</li>
          <li>Secret santas will be randomly assigned among everyone who joined your game!</li>
        </ol>
        <div class="form-group">
          <label for="">Game name: *</label>
          <input type="text" class="form-control" placeholder="Enter a name for the game..." data-ng-model="new.name" required>
        </div>
        <div class="form-group">
          <label for="">Price instructions: *</label>
          <input type="text" class="form-control" placeholder="(e.g: No more than $25)" data-ng-model="new.price_instructions" required>
        </div>
        <div class="form-group">
          <label for="">Open admission until:</label>
          <input type="text" class="form-control" placeholder="When do you plan to close admission and start the game?" data-ng-model="new.open_until">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Game</button>
        </div>
      </form>
    </div>
  </div>
</div>
