// .navbar {
//   margin-bottom: 0;
// }

.navbar-default {
  @include linear-gradient(#cc231e, shade(#cc231e, 15%));
  border: none;
  border-radius: 0px;

  .navbar-brand,
  .navbar-text,
  a {
    color: white;
    text-shadow: 0px 1px 0px shade(#cc231e, 30%);

    &:hover {
      color: white;
    }
  }

  .user-picture {
    height: 50px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .navbar .user-info {
    display: none;
  }
}
