apiVersion: v1
kind: Service
metadata:
  name: santa-frontend
  namespace: santa
spec:
  selector:
    app: santa
    role: frontend
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: santa
  namespace: santa
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: santa
        role: frontend
    spec:
      containers:
      - name: santa
        image: quay.io/ktbartholomew/secret-santa:latest
        env:
        - name: MONGO_HOST
          value: mongo.santa.svc.cluster.local
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DB
          value: santa
        - name: FACEBOOK_APP_ID
          value: "828830117235397"
        ports:
        - name: http
          containerPort: 3000
