.participants {
  ul {
    padding: 0;
    list-style-type: none;

    li {
      background: white;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;

      img {
        height: auto;
        width: 64px;
      }
    }

    li + li {
      border-top: solid 1px shade(white, 10%);
    }
  }
}
.user-search {
  ul {
    background: white;
    border: solid 1px shade(white, 15%);
    border-width: 0px 1px;
    list-style-type: none;
    padding: 0;
    position: relative;
    margin: 0 5px;

    img {
      width: 34px;
      height: 34px;
    }

    li + li {
      border-top: solid 1px shade(white, 10%);
    }

    li.user {
      &:hover {
        background: tint($facebook-blue, 85%);
        cursor: pointer;
      }
    }

    li.paging {
      background: shade(white, 2%);
      border-bottom: solid 1px shade(white, 15%);
      padding: 0 2em;

      .prev {
        display: inline-block;
        float: left;
        line-height: 34px;
      }

      .next {
        display: inline-block;
        float: right;
        line-height: 34px;
      }
    }
  }
}
