.edit {
  .participant-list {
    .participant {
      background: #FFFFFF;
      border: solid 1px #EBEBEB;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
      display: inline-block;
      margin: 0 20px 20px 0;
      padding: 0 0 10px 0;
      width: calc(33.333% - 20px);

      .info-row {
        background: $facebook-blue;
        color: white;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
      }

      .edit-row {
        padding: 10px;
      }

      .avatar {
        flex: 0 0 50px;
        // padding-left: 10px;
      }

      .name {
        flex: 1 1 60%;
        padding: 1em;
      }

      .action {
        flex: 1 1 10%;
        padding: 1em;
        padding-right: 10px;
        text-align: right;

        a {
          color: white;
          font-size: 110%;
        }
      }

      .exclusion-item {
        display: block;
        padding: 0.25em 1em;
      }
    }
  }
}
